@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --mainBg: #ebebeb;
  --mainColor: #c06e52;
  --secondColor: #1e1e1e;
  --lightGray: #e1e1e1;
  --slightlyDarkerGray: #d9d9d9;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.margin-container {
  margin: 0 1em;
}

body {
  background-color: var(--mainBg);
}

img {
  width: 50px;
}

.topLayer {
  z-index: 3;
}

.bottomLayer {
  z-index: -1;
}

#nav-bar {
  padding-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#nav-bar img {
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#hero-section {
  background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  width: 100%;
  height: 455PX;
  background-size: cover;
  background-position: 51%;
  color: #ffffff;
}

#hero-section #linearGrad {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(180deg, black, rgba(255, 255, 255, 0));
  height: 100%;
}

#hero-section #cta-container {
  background-color: rgba(0, 0, 0, 0.62);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  width: 190px;
  height: 244px;
  float: right;
  -webkit-transform: translateX(16px) translateY(62px);
          transform: translateX(16px) translateY(62px);
  text-align: end;
  padding-right: 1em;
  position: relative;
}

#hero-section #cta-container #cta #hero-cta {
  text-transform: uppercase;
  font-size: 32px;
}

#hero-section #cta-container #cta #hero-btn {
  color: #ffffff;
  background-color: var(--mainColor);
  border: none;
  font-size: 48px;
  font-weight: 900;
  padding: 0 20px;
  border-radius: 8px;
  text-transform: uppercase;
}

#content-section h2 {
  color: var(--secondColor);
  margin: 45px auto;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  width: 234px;
}

#content-section #content-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 113px;
}

#content-section #content-card-container .content-card {
  background-color: var(--secondColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 550px;
}

#content-section #content-card-container .content-card h3 {
  color: var(--mainColor);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  margin-left: 36px;
}

#content-section #content-card-container .content-card img {
  width: 100%;
  height: 302px;
  -o-object-fit: cover;
     object-fit: cover;
}

#content-section #content-card-container .content-card p {
  color: var(--lightGray);
  text-transform: uppercase;
  font-size: 11px;
  width: 217px;
  margin-left: 36px;
}

#content-section #content-card-container .content-card a {
  color: var(--mainColor);
  text-transform: uppercase;
  font-size: 11px;
  margin-left: 36px;
  border-bottom: 2px solid var(--mainColor);
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#plans h3 {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin: 62px 0;
}

#plans #payment-plan-container {
  width: calc(100% - 32px);
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#plans .payment-plan {
  background-color: var(--slightlyDarkerGray);
  width: 82px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 60px;
}

#plans .payment-plan h4 {
  font-size: 24px;
}

#plans .payment-plan h5 {
  font-size: 10px;
}

#plans .payment-plan p {
  font-size: 5px;
  width: 80%;
}

#plans .payment-plan a {
  font-size: 10px;
  color: var(--mainColor);
  text-decoration: none;
}

footer {
  background-color: var(--mainColor);
  color: var(--lightGray);
}

footer .footer-links-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-links-block-container .footer-links-block {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 6px;
  text-transform: capitalize;
}

footer .footer-links-block-container .footer-links-block h6 {
  font-size: 18px;
}

footer .footer-links-block-container .footer-links-block a {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

footer .footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .copyright-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#first-accent {
  height: 55px;
  width: auto;
  position: absolute;
  left: 0;
  top: 68px;
  opacity: .6;
  -webkit-backdrop-filter: 30px;
          backdrop-filter: 30px;
}

#second-accent {
  height: 55px;
  width: auto;
  position: absolute;
  left: -15px;
  top: 425px;
}
