@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --mainBg: hsl(0, 0%, 92%);
  --mainColor: hsl(15, 47%, 54%);
  --mainCardBg: hsl(0, 0%, 12%);
  --secondaryCardBg: hsl(0, 0%, 85%);
  --darkText: hsl(0, 0%, 12%);
  --lightText: hsl(0, 0%, 88%);
}

.darkmode {
  --mainBg: hsl(0, 0%, 12%);
  --mainColor: hsl(15, 47%, 54%);
  --mainCardBg: hsl(0, 0%, 8%);
  --secondaryCardBg: hsl(0, 0%, 8%);
  --darkText: hsl(0, 0%, 88%);
  --lightText: hsl(0, 0%, 88%);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

body {
  background-color: var(--mainBg);
  min-width: 270px;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  width: 50px;
}

.topLayer {
  z-index: 3;
}

.bottomLayer {
  z-index: -1;
}

#nav-bar {
  padding-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 1em;
}

#nav-bar img {
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#hero-section {
  background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: 51%;
  color: #ffffff;
  position: relative;
}

#hero-section #linearGrad {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(180deg, black, rgba(255, 255, 255, 0));
  height: 100%;
}

#hero-section #cta-container {
  background-color: rgba(0, 0, 0, 0.62);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  width: 190px;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(62px);
          transform: translateY(62px);
  text-align: end;
  padding: 1em 1em 1em 0;
}

#hero-section #cta-container #cta #hero-cta {
  text-transform: uppercase;
  font-size: 32px;
}

#hero-section #hero-btn {
  color: #ffffff;
  background-color: var(--mainColor);
  border: none;
  font-size: 48px;
  font-weight: 900;
  padding: 0 20px;
  border-radius: 8px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  bottom: 20%;
  translate: -50% -50%;
}

#hero-section #hero-btn:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  scale: 1.01;
}

#hero-section #hero-btn:active {
  scale: .999;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.main-content {
  width: 100%;
}

.main-content h2 {
  color: var(--darkText);
  margin: 45px auto;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  width: 234px;
  font-weight: 500;
}

.main-content #content-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 113px;
}

.main-content #content-card-container .content-card {
  background-color: var(--mainCardBg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100% - 2em);
  aspect-ratio: .53;
  margin: 0 1em;
}

.main-content #content-card-container .content-card h3 {
  color: var(--mainColor);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  margin-inline: 36px;
}

.main-content #content-card-container .content-card img {
  width: 100%;
  aspect-ratio: .95;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: var(--mainColor);
}

.main-content #content-card-container .content-card p {
  color: var(--lightText);
  text-transform: uppercase;
  font-size: 11px;
  width: 217px;
  margin-inline: 36px;
}

.main-content #content-card-container .content-card a {
  color: var(--mainColor);
  text-transform: uppercase;
  font-size: 11px;
  margin-inline: 36px;
  border-bottom: 2px solid var(--mainColor);
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-content #content-card-container .content-card .first-child {
  display: none;
}

.main-content #content-card-container .content-card .second-child {
  display: none;
}

.main-content #content-card-container-wide {
  display: none;
}

#plans {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#plans h3 {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin: 62px 0;
  color: var(--darkText);
}

#plans #payment-plan-container {
  width: calc(100% - 32px);
  height: 600px;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#plans .payment-plan {
  background-color: var(--secondaryCardBg);
  color: var(--darkText);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.25em;
  margin-bottom: 36px;
  font-weight: 300;
}

#plans .payment-plan h4 {
  font-size: 36px;
}

#plans .payment-plan h5 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
}

#plans .payment-plan p {
  font-size: 10px;
  width: 80%;
}

#plans .payment-plan a {
  font-size: 14px;
  color: var(--mainColor);
  text-decoration: none;
  text-transform: uppercase;
}

#plans .payment-plan .plan-minicontainer {
  width: 50%;
  margin: 22px 0;
  gap: 1em;
}

#plans .payment-plan .plan-minicontainer.first {
  text-align: end;
}

#plans .payment-plan .plan-minicontainer.second {
  text-align: start;
}

#plans .payment-plan .plan-minicontainer p {
  width: 100px;
  text-transform: uppercase;
}

footer {
  background-color: var(--mainColor);
  color: var(--lightText);
  padding: 2.5em 0;
}

footer .footer-links-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

footer .footer-links-block-container .footer-links-block {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1em;
  text-transform: capitalize;
}

footer .footer-links-block-container .footer-links-block h6 {
  font-size: 18px;
}

footer .footer-links-block-container .footer-links-block a {
  font-size: 14px;
  color: var(--lightText);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: border 250ms ease-in;
  transition: border 250ms ease-in;
}

footer .footer-links-block-container .footer-links-block a:hover {
  color: #fff;
  border-bottom: 1px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 2em;
}

footer .footer-social-links a :hover {
  scale: 1.1;
}

footer .footer-social-links img {
  height: 1.5em;
  width: 1.5em;
}

footer .copyright-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: .8em;
  font-weight: bold;
  height: 1.5em;
}

footer .copyright-line img {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.accents {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
}

.accents img {
  height: 250px;
  width: 250px;
}

.accents #first-accent {
  height: 4em;
  width: auto;
  position: inherit;
  left: 0;
  top: 68px;
  -webkit-backdrop-filter: 30px;
          backdrop-filter: 30px;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  opacity: .8;
}

.accents #second-accent {
  height: 4em;
  width: auto;
  position: inherit;
  left: 0;
  top: 420px;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.accents #third-accent {
  height: 7em;
  width: auto;
  position: inherit;
  top: 565px;
  right: 0;
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
}

.accents #fourth-accent {
  height: 7.5em;
  width: auto;
  position: inherit;
  top: 1220px;
  right: 0;
  -webkit-transform: translateX(-35%) rotate(-36deg);
          transform: translateX(-35%) rotate(-36deg);
  z-index: -1;
}

.accents #fifth-accent {
  height: 12.5em;
  width: auto;
  position: inherit;
  top: 1762px;
  right: 0;
  -webkit-transform: translateX(50%) rotate(-36deg);
          transform: translateX(50%) rotate(-36deg);
  z-index: -1;
}

.accents #sixth-accent {
  height: 6.25em;
  width: auto;
  position: inherit;
  top: 2560px;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.accents #seventh-accent {
  height: 6.25em;
  width: auto;
  position: inherit;
  top: 3200px;
  right: 0;
  -webkit-transform: translateX(20%) rotateY(180deg);
          transform: translateX(20%) rotateY(180deg);
  z-index: -1;
}

.accents #eighth-accent {
  height: 3.75em;
  width: auto;
  position: inherit;
  top: 4545px;
  left: 0;
  -webkit-transform: translateX(0%) rotateY(180deg);
          transform: translateX(0%) rotateY(180deg);
  z-index: -1;
}

.accents #nineth-accent {
  height: 6.25em;
  width: auto;
  position: inherit;
  top: 4550px;
  right: 0;
  -webkit-transform: translateX(40%) rotateY(180deg);
          transform: translateX(40%) rotateY(180deg);
  z-index: -1;
}

@media (min-width: 420px) {
  #hero-section {
    background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 70vh;
  }
  #hero-section #linearGrad {
    height: 72%;
  }
  #hero-section #cta-container {
    background-color: rgba(0, 0, 0, 0.62);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    width: 69%;
    position: absolute;
    right: 0;
    top: 48%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: end;
    padding: 1em 1em 1em 0;
  }
  #hero-section #cta-container #cta #hero-cta {
    font-size: 44.82px;
  }
  #hero-section #hero-btn {
    font-size: 72.21px;
    padding: 0 40px;
  }
  .main-content {
    width: 100%;
  }
  .main-content h2 {
    font-size: 45px;
    margin: 45px auto;
    width: 287px;
  }
  .main-content #content-card-container {
    gap: 200px;
  }
  .main-content #content-card-container .content-card {
    background-color: var(--mainCardBg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: calc(100% - 2em);
    aspect-ratio: .53;
    margin: 0 1em;
  }
  .main-content #content-card-container .content-card h3 {
    color: var(--mainColor);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 45px;
    margin-inline: 49px;
  }
  .main-content #content-card-container .content-card img {
    height: auto;
    aspect-ratio: 1.04;
  }
  .main-content #content-card-container .content-card p {
    color: var(--lightText);
    text-transform: uppercase;
    width: 297px;
    margin-inline: 49px;
  }
  .main-content #content-card-container .content-card a {
    color: var(--mainColor);
    text-transform: uppercase;
    font-size: 11px;
    margin-inline: 49px;
    border-bottom: 2px solid var(--mainColor);
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 7px;
  }
}

@media (min-width: 760px) {
  #hero-section {
    background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 80vh;
  }
  #hero-section #cta-container {
    background-color: rgba(0, 0, 0, 0.62);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    width: 69%;
    position: absolute;
    right: 0;
    top: 48%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: end;
    padding: 1em 1em 1em 0;
  }
  #hero-section #cta-container #cta #hero-cta {
    font-size: 44.82px;
  }
  #hero-section #hero-btn {
    font-size: 72.21px;
    padding: 0 40px;
  }
  .main-content {
    width: 100%;
  }
  .main-content h2 {
    font-size: 45px;
    margin: 45px auto;
    width: 287px;
  }
  .main-content #content-card-container {
    gap: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content #content-card-container .content-card {
    background-color: var(--mainCardBg);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    width: calc(100% - 2em);
    aspect-ratio: 1.89;
    margin: 0 1em;
    max-width: 708px;
  }
  .main-content #content-card-container .content-card h3 {
    font-size: 48px;
    margin-inline: 49px;
    width: auto;
  }
  .main-content #content-card-container .content-card img {
    width: 100%;
    height: 100%;
  }
  .main-content #content-card-container .content-card p {
    width: auto;
    margin-inline: 49px;
    font-size: 14px;
  }
  .main-content #content-card-container .content-card a {
    font-size: 16px;
    margin-inline: 49px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 7px;
  }
  .main-content #content-card-container .content-card > :first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card > :nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card > :nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card > :last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
  }
  .main-content #content-card-container .content-card:nth-child(even) > :first-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card:nth-child(even) > :nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card:nth-child(even) > :nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card:nth-child(even) > :last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1020px) {
  #hero-section {
    background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 80vh;
  }
  #hero-section #cta-container {
    background-color: rgba(0, 0, 0, 0.62);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    width: 69%;
    position: absolute;
    right: 0;
    top: 48%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: end;
    padding: 1em 1em 1em 0;
  }
  #hero-section #cta-container #cta #hero-cta {
    font-size: 44.82px;
  }
  #hero-section #hero-btn {
    font-size: 72.21px;
    padding: 0 40px;
  }
  .main-content {
    width: 100%;
  }
  .main-content h2 {
    font-size: 45px;
    margin: 8% auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-content #content-card-container {
    gap: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content #content-card-container .content-card {
    background-color: var(--mainCardBg);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    width: 74%;
    max-width: 1064px;
    aspect-ratio: 1.89;
    max-height: 564px;
    margin: 0 auto;
  }
  .main-content #content-card-container .content-card h3 {
    font-size: 48px;
    margin-inline: 49px;
    width: auto;
  }
  .main-content #content-card-container .content-card img {
    width: 100%;
    height: 100%;
  }
  .main-content #content-card-container .content-card p {
    width: auto;
    margin-inline: 49px;
    font-size: 14px;
  }
  .main-content #content-card-container .content-card a {
    font-size: 16px;
    margin-inline: 49px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 7px;
  }
  .main-content #content-card-container .content-card > :first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card > :nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card > :nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card > :last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
  }
  .main-content #content-card-container .content-card:nth-child(even) > :first-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card:nth-child(even) > :nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card:nth-child(even) > :nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-content #content-card-container .content-card:nth-child(even) > :last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
