@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --mainBg: hsl(0, 0%, 92%);
    --mainColor: hsl(15, 47%, 54%);

    --mainCardBg: hsl(0, 0%, 12%);
    --secondaryCardBg: hsl(0, 0%, 85%);
    --darkText: hsl(0, 0%, 12%);
    --lightText: hsl(0, 0%, 88%);
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --mainBg: hsl(0, 0%, 12%);
//         --mainColor: hsl(15, 47%, 54%);

//         --mainCardBg: hsl(0, 0%, 8%);
//         --secondaryCardBg: hsl(0, 0%, 8%);
//         --darkText: hsl(0, 0%, 88%);
//         --lightText: hsl(0, 0%, 88%);
//     }
// }

.darkmode {
    --mainBg: hsl(0, 0%, 12%);
    --mainColor: hsl(15, 47%, 54%);

    --mainCardBg: hsl(0, 0%, 8%);
    --secondaryCardBg: hsl(0, 0%, 8%);
    --darkText: hsl(0, 0%, 88%);
    --lightText: hsl(0, 0%, 88%);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

body {
    background-color: var(--mainBg);
    min-width: 270px;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    width: 50px;
}

.topLayer {
    z-index: 3;
}

.bottomLayer {
    z-index: -1;
}

#nav-bar {
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 1em;

    img {
        height: 20px;
        object-fit: cover;
        width: fit-content;
    }
}

#hero-section {
    background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: 51%;
    color: #ffffff;
    position: relative;

    #linearGrad {
        background-image: linear-gradient(180deg, black, rgba(255, 255, 255, 0));
        height: 100%;
    }

    #cta-container {
        background-color: hsla(0, 0%, 0%, 0.62);
        backdrop-filter: blur(30px);
        width: 190px;
        position: absolute;
        // left: 50%;
        right: 0;
        transform: translateY(62px);
        text-align: end;
        padding: 1em 1em 1em 0;

        #cta {
            #hero-cta {
                text-transform: uppercase;
                font-size: 32px;
            }
        }
    }

    #hero-btn {
        color: #ffffff;
        background-color: var(--mainColor);
        border: none;
        font-size: 48px;
        font-weight: 900;
        padding: 0 20px;
        border-radius: 8px;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        bottom: 20%;
        translate: -50% -50%;

        &:hover {
            cursor: pointer;
            filter: brightness(1.05);
            scale: 1.01;
        }

        &:active {
            scale: .999;
            filter: brightness(.9)
        }
    }
}

.main-content {
    width: 100%;

    h2 {
        color: var(--darkText);
        margin: 45px auto;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
        width: 234px;
        font-weight: 500;
    }

    #content-card-container {
        display: flex;
        flex-direction: column;
        gap: 113px;

        .content-card {
            background-color: var(--mainCardBg);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: calc(100% - 2em);
            aspect-ratio: .53;
            margin: 0 1em;


            h3 {
                color: var(--mainColor);
                text-transform: uppercase;
                font-weight: 900;
                font-size: 32px;
                margin-inline: 36px;
            }

            img {
                width: 100%;
                aspect-ratio: .95;
                object-fit: cover;
                background-color: var(--mainColor);
            }

            p {
                color: var(--lightText);
                text-transform: uppercase;
                font-size: 11px;
                width: 217px;
                margin-inline: 36px;
            }

            a {
                color: var(--mainColor);
                text-transform: uppercase;
                font-size: 11px;
                margin-inline: 36px;
                border-bottom: 2px solid var(--mainColor);
                text-decoration: none;
                width: fit-content;
            }

            .first-child {
                display: none;
            }

            .second-child {
                display: none;
            }
        }
    }

    #content-card-container-wide {
        display: none;
    }
}

#plans {
    height: fit-content;

    h3 {
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
        margin: 62px 0;
        color: var(--darkText);
    }

    #payment-plan-container {
        width: calc(100% - 2em);
        height: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: 36px;

        .payment-plan {
            background-color: var(--secondaryCardBg);
            color: var(--darkText);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-weight: 300;

            h4 {
                font-size: 36px;
            }

            h5 {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 300;
            }

            p {
                font-size: 10px;
                width: 80%;
            }

            a {
                font-size: 14px;
                color: var(--mainColor);
                text-decoration: none;
                text-transform: uppercase;
            }

            .plan-minicontainer {
                width: fit-content;
                margin: 22px 0;
                // gap: .5em;

                &.first {
                    text-align: end;
                }

                &.second {
                    text-align: start;
                }

                p {
                    width: 100px;
                    text-transform: uppercase;
                }
            }
        }

        &>:nth-child(even) {
            flex-direction: row-reverse;

            .plan-minicontainer {

                &.first {
                    text-align: start;
                }

                &.second {
                    text-align: end;
                }
            }
        }
    }
}

footer {
    background-color: var(--mainColor);
    color: var(--lightText);
    padding: 2.5em 0;

    .footer-links-block-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2em;

        .footer-links-block {
            width: 130px;
            display: flex;
            flex-flow: column;
            gap: 1em;
            text-transform: capitalize;

            h6 {
                font-size: 18px;
            }

            a {
                font-size: 14px;
                color: var(--lightText);
                text-decoration: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0);
                width: fit-content;
                transition: border 250ms ease-in;

                &:hover {
                    color: #fff;
                    border-bottom: 1px solid white;
                    width: fit-content;
                }
            }
        }
    }

    .footer-social-links {
        display: flex;
        justify-content: space-between;
        padding-block: 2em;

        a {
            :hover {
                scale: 1.1;
            }
        }

        img {
            height: 1.5em;
            width: 1.5em;
        }
    }

    .copyright-line {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: .8em;
        font-weight: bold;
        height: 1.5em;

        img {
            height: 100%;
            width: fit-content;
        }
    }
}

.accents {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;

    img {
        height: 250px;
        width: 250px;
    }

    #first-accent {
        height: 4em;
        width: auto;
        position: inherit;
        left: 0;
        top: 68px;
        backdrop-filter: 30px;
        transform: translateX(-40%);
        opacity: .8;
    }

    #second-accent {
        height: 4em;
        width: auto;
        position: inherit;
        left: 0;
        top: 420px;
        transform: translateX(-40%);
    }

    #third-accent {
        height: 7em;
        width: auto;
        position: inherit;
        top: 565px;
        right: 0;
        transform: translateX(35%);
    }

    #fourth-accent {
        height: 7.5em;
        width: auto;
        position: inherit;
        top: 1220px;
        right: 0;
        transform: translateX(-35%) rotate(-36deg);
        z-index: -1;
    }

    #fifth-accent {
        height: 12.5em;
        width: auto;
        position: inherit;
        top: 1762px;
        right: 0;
        transform: translateX(50%) rotate(-36deg);
        z-index: -1;
    }

    #sixth-accent {
        height: 6.25em;
        width: auto;
        position: inherit;
        top: 2560px;
        left: 0;
        transform: translateX(-50%);
    }

    #seventh-accent {
        height: 6.25em;
        width: auto;
        position: inherit;
        top: 3200px;
        right: 0;
        transform: translateX(20%) rotateY(180deg);
        z-index: -1;
    }

    #eighth-accent {
        height: 3.75em;
        width: auto;
        position: inherit;
        top: 4545px;
        left: 0;
        transform: translateX(0%) rotateY(180deg);
        z-index: -1;
    }

    #nineth-accent {
        height: 6.25em;
        width: auto;
        position: inherit;
        top: 4550px;
        right: 0;
        transform: translateX(40%) rotateY(180deg);
        z-index: -1;
    }
}

@media (min-width: 420px) {
    #hero-section {
        background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        height: 70vh;

        #linearGrad {
            height: 72%;
        }

        #cta-container {
            background-color: hsla(0, 0%, 0%, 0.62);
            backdrop-filter: blur(30px);
            width: 69%;
            position: absolute;
            right: 0;
            top: 48%;
            transform: translateY(-50%);
            text-align: end;
            padding: 1em 1em 1em 0;

            #cta {
                #hero-cta {
                    font-size: 44.82px;
                }
            }
        }

        #hero-btn {
            font-size: 72.21px;
            padding: 0 40px;
        }
    }

    .main-content {
        width: 100%;

        h2 {
            font-size: 45px;
            margin: 45px auto;
            width: 287px;
        }

        #content-card-container {
            gap: 200px;

            .content-card {
                background-color: var(--mainCardBg);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: calc(100% - 2em);
                aspect-ratio: .53;
                margin: 0 1em;


                h3 {
                    color: var(--mainColor);
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 45px;
                    margin-inline: 49px;
                }

                img {
                    height: auto;
                    aspect-ratio: 1.04;
                }

                p {
                    color: var(--lightText);
                    text-transform: uppercase;
                    width: 297px;
                    margin-inline: 49px;
                }

                a {
                    color: var(--mainColor);
                    text-transform: uppercase;
                    font-size: 11px;
                    margin-inline: 49px;
                    border-bottom: 2px solid var(--mainColor);
                    text-decoration: none;
                    width: fit-content;
                    padding-bottom: 7px;
                }
            }
        }
    }
}

@media (min-width: 760px) {
    #hero-section {
        background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        height: 80vh;

        #cta-container {
            background-color: hsla(0, 0%, 0%, 0.62);
            backdrop-filter: blur(30px);
            width: 69%;
            position: absolute;
            right: 0;
            top: 48%;
            transform: translateY(-50%);
            text-align: end;
            padding: 1em 1em 1em 0;

            #cta {
                #hero-cta {
                    font-size: 44.82px;
                }
            }
        }

        #hero-btn {
            font-size: 72.21px;
            padding: 0 40px;
        }
    }

    .main-content {
        width: 100%;

        h2 {
            font-size: 45px;
            margin: 45px auto;
            width: 287px;
        }

        #content-card-container {
            gap: 200px;
            align-items: center;

            .content-card {

                background-color: var(--mainCardBg);
                display: grid;
                grid-template-columns: 47% 53%;
                grid-template-rows: repeat(5, 1fr);
                gap: 1rem;
                width: calc(100% - 2em);
                aspect-ratio: 1.89;
                margin: 0 1em;
                max-width: 708px;


                h3 {
                    font-size: 48px;
                    margin-inline: 49px;
                    width: auto;
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                p {
                    width: auto;
                    margin-inline: 49px;
                    font-size: 14px;
                }

                a {
                    font-size: 16px;
                    margin-inline: 49px;
                    width: fit-content;
                    padding-bottom: 7px;
                }

                &>:first-child {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                    align-self: center;
                }

                &>:nth-child(2) {
                    grid-column: 2 / 3;
                    grid-row: 1 / 6;
                    align-self: center;
                }

                &>:nth-child(3) {
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;
                    align-self: center;
                }

                &>:last-child {
                    grid-column: 1 / 2;
                    // grid-column-start: 1;
                    // grid-column-end: 2;
                    grid-row: 4 / 5;
                    // grid-row-start: 4;
                    // grid-row-end: 4;
                    justify-self: start;
                    align-self: center;
                    width: auto;
                }

                &:nth-child(even) {
                    grid-template-columns: 53% 47%;

                    &>:first-child {
                        grid-column: 2 / 3;
                        grid-row: 2 / 3;
                        align-self: center;
                    }

                    &>:nth-child(2) {
                        grid-column: 1 / 2;
                        grid-row: 1 / 6;
                        align-self: center;
                    }

                    &>:nth-child(3) {
                        grid-column: 2 / 3;
                        grid-row: 3 / 4;
                        align-self: center;
                    }

                    &>:last-child {
                        grid-column: 2 / 3;
                        grid-row: 4 / 5;
                        justify-self: start;
                        align-self: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 1020px) {
    #hero-section {
        background-image: url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        height: 80vh;

        #cta-container {
            background-color: hsla(0, 0%, 0%, 0.62);
            backdrop-filter: blur(30px);
            width: 69%;
            position: absolute;
            right: 0;
            top: 48%;
            transform: translateY(-50%);
            text-align: end;
            padding: 1em 1em 1em 0;

            #cta {
                #hero-cta {
                    font-size: 44.82px;
                }
            }
        }

        #hero-btn {
            font-size: 72.21px;
            padding: 0 40px;
        }
    }

    .main-content {
        width: 100%;

        h2 {
            font-size: 45px;
            margin: 8% auto;
            width: fit-content;
        }

        #content-card-container {
            gap: 200px;
            align-items: center;

            .content-card {

                background-color: var(--mainCardBg);
                display: grid;
                // grid-template-columns: 47% 53%;
                grid-template-rows: repeat(5, 1fr);
                gap: 1rem;
                width: 74%;
                max-width: 1064px;
                aspect-ratio: 1.89;
                max-height: 564px;
                margin: 0 auto;


                h3 {
                    font-size: 48px;
                    margin-inline: 49px;
                    width: auto;
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                p {
                    width: auto;
                    margin-inline: 49px;
                    font-size: 14px;
                }

                a {
                    font-size: 16px;
                    margin-inline: 49px;
                    width: fit-content;
                    padding-bottom: 7px;
                }

                &>:first-child {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                    align-self: center;
                }

                &>:nth-child(2) {
                    grid-column: 2 / 3;
                    grid-row: 1 / 6;
                    align-self: center;
                }

                &>:nth-child(3) {
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;
                    align-self: center;
                }

                &>:last-child {
                    grid-column: 1 / 2;
                    // grid-column-start: 1;
                    // grid-column-end: 2;
                    grid-row: 4 / 5;
                    // grid-row-start: 4;
                    // grid-row-end: 4;
                    justify-self: start;
                    align-self: center;
                    width: auto;
                }

                &:nth-child(even) {
                    // grid-template-columns: 53% 47%;

                    &>:first-child {
                        grid-column: 2 / 3;
                        grid-row: 2 / 3;
                        align-self: center;
                    }

                    &>:nth-child(2) {
                        grid-column: 1 / 2;
                        grid-row: 1 / 6;
                        align-self: center;
                    }

                    &>:nth-child(3) {
                        grid-column: 2 / 3;
                        grid-row: 3 / 4;
                        align-self: center;
                    }

                    &>:last-child {
                        grid-column: 2 / 3;
                        grid-row: 4 / 5;
                        justify-self: start;
                        align-self: center;
                    }
                }
            }
        }
    }
}