/** {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--mainBg);
}

/*  classes */
/*
.margin-container {
    margin: 0 1em;
}

.content-card {
    background-color: var(--secondColor);
    width: 100%;
    color: var(--lightGray);
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.content-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.content-card h3 {
    font-size: 45px;
    color: #c06e52;
    text-transform: uppercase;
    padding-top: 30px;
    margin: 0 49px;
}

.content-card p {
    margin: 0 49px;
}

.content-card a {
    color: var(--mainColor);
    margin: 0 49px;
    padding-bottom: 30px;
}

/*  ids */
/*
#hero-section {
    background-image: url(https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    width: 100%;
    height: 455PX;
    background-size: cover;
    background-position: 51%;
}

#content-card-container {
    display: flex;
    flex-direction: column;
    gap: 200px;
}


#content-section h2 {
    font-size: 45px;
    text-align: center;
    color: var(--secondColor);
    text-transform: uppercase;
    margin: 73px 0;
    width: 100%;
}
*/