* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --maincolor: #121c38;
    --secondcolor: #b61f1f;
    --transition: .7s;
}

/*   ----  Global  ----   */
body {
    width: 100%;
}

img {
    height: 16em;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.main-nav {
    background-color: var(--maincolor);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img {
    height: 1em;
}

/*   ----  Classes  ----   */
.line {
    background-color: #fff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
}

.nodisplay {
    display: none;
}

.open {
    overflow: hidden;
}

.open :first-child {
    transform: translate(0px, 8px) rotate(45deg);
}

.open :nth-child(2) {
    transform: translateX(-20px);
    background-color: #000000;
}

.open :last-child {
    transform: translate(0px, -8px) rotate(-45deg);
}

/*   ----  IDs  ----   */
#topterms {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondcolor);
    color: #fff;
}

#topterms-txt {
    margin: 20px;
}

#top-remove-btn {
    height: 30px;
    aspect-ratio: 1/1;
    margin: 0 0 20px 0;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #00000000;
    color: #fff;
}

#menu-button {
    background-color: #00000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    aspect-ratio: 1/1;
    height: 1.1em;
    cursor: pointer;
    transition: 1s ease-in-out;
}

#ul {
    background-color: #b61f1f;
    width: 100vw;
    height: 93vh;
    z-index: 10;
    position: absolute;
    overflow: hidden;
}

#navbar img {
    aspect-ratio: 1/1;
    height: 1.5em;
}

#search {
    width: 40%;
}

body {
    background-color: rgb(50, 50, 50);
}

/*  width 769*/
@media (min-width: 769px) {

    /*   ----  Global  ----   */
    nav {
        background-color: rgb(0, 255, 26);
    }

    /*   ----  IDs  ----   */
    #topterms {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #top-remove-btn {
        margin: 0 20px 0 0;
        border-radius: 50%;
    }
}