* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --maincolor: #121c38;
    --secondcolor: #b61f1f;
    --transition: .7s;
}

/*   ----  Global  ----   */
body {
    width: 100%;
}

img {
    height: 16em;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*   ----  Classes  ----   */

/*   ----  IDs  ----   */
#topterms {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #3345a2;
    color: #fff;
}

#topterms-txt {
    margin: 20px;
}

#top-remove-btn {
    height: 30px;
    aspect-ratio: 1/1;
    margin: 0 0 20px 0;
}